$height: 30px;

.container {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: $height;
  background-color: #7b86eb;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}

button {
  border: unset;
  font-weight: bold;
  background-color: #4251da;
  padding: 0 10px;
}

span {
  line-height: $height;
}
