.product-picture {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.small-margin {
  margin-top: 220px;
}

.small-margin > * {
  margin-bottom: 10px;
}

ul li {
  display: inline;
  &:not(:last-of-type)::after {
    content: ", ";
  }
}

.different-container {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
  img {
    height: 30px;
  }
}

textarea {
  display: block;
  border-radius: 20px;
  border: unset;
  background-color: #7b86eb;
  margin-top: 10px;
  resize: none;
  width: calc(100% - 30px);
  padding: 15px;
  &:focus {
    outline: none;
  }
}

.amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
  border-radius: 20px;
  border: unset;
  background-color: #7b86eb;
  font-size: larger;
  padding: 10px;
}
