* {
  font-size: large;
}

form {
  gap: 20px;
  
  div {
    gap: 5px;
    margin: 10px 40px;
  }
}

form, form div {
  display: flex;
  flex-direction: column;
}

label {
  color: rgb(84, 84, 84);
}

input {
  border: none;
  border-bottom: 2px solid rgb(178, 178, 178);
  padding-bottom: 10px;
  padding-top: 5px;
  &:focus {
    outline: none;
  }
}

button {
  height: 30px;
  font-weight: bold;
  background-color: #7b86eb;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  &:enabled {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  &:disabled {
    background-color: rgb(217, 217, 217);
  }
}

.error {
  color: red;
}
