.search-bar {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #7b86eb;
  border-radius: 25px;
  margin: 20px 10%;
  padding: 5px 10px;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  input {
    width: 100%;
    background-color: unset;
    border: unset;
    font-size: large;
    &:focus {
      outline: none;
    }
  }
}

.filters-container {
  display: flex;
  justify-content: space-evenly;
}

.special-container {
  display: flex;
  align-items: center;
  height: 25px;
}

img {
  height: 100%;
}

.products-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin-top: 50px;
  font-size: xx-large;
  text-align: center;
}