<div class="container">
  <div
    class="picture"
    [ngStyle]="{ 'background-image': 'url(' + product.pictureUrl + ')' }"
    >
    @if (product.isCeliac) {
      <img
        src="/icons/celiac.png"
        alt="Gluten free"
        class="gf"
        />
    }
    @if (product.isVegan) {
      <img src="/icons/vegan.png" alt="Vegan" />
    }
  </div>
  <div class="details">
    <h4>{{ product.name }}</h4>
    <ul>
      @for (ingredient of product.ingredients; track ingredient) {
        <li>{{ ingredient }}</li>
      }
    </ul>
    <p class="price">${{ product.price }}</p>
  </div>
</div>
