.cards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.product-card-container {
  position: relative;
  display: flex;
  height: 100px;
  background-color: #7b86eb;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
}

.left {
  width: 35%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  > div {
    position: absolute;
    bottom: 8px;
    left: 8px;
    img {
      height: 20px;
      border-radius: 50%;
      background-color: rgb(182, 255, 180);
    }
    .gf {
      background-color: rgb(199, 159, 85);
    }
  }
}

.center {
  width: 55%;
}

.right {
  width: 10%;
  align-items: flex-end;
}

.delete {
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 0;
}

#more {
  height: 38px;
  font-size: xx-large;
  text-decoration: none;
  color: black;
  background-color: #7b86eb;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#information {
  font-size: larger;
}

.delivery-container {
  background-color: #7b86eb;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  align-items: center;
  h4 {
    font-size: large;
  }
}

.amounts {
  text-align: end;
}

#totals > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.send-message {
  display: block;
  width: 100%;
  margin-top: 40px;
  font-size: large;
  background-color: #4251da;
  border: unset;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.edit-address {
  padding-right: 5px;
}

dialog {
  background-color: #7b86eb;
  border-radius: 10px;
  border: unset;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);

  div {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    &:first-of-type {
      background-color: rgb(211, 255, 211);
    }
    &:last-of-type {
      background-color: rgb(255, 211, 211);
    }
    span:first-child {
      font-size: x-large;
    }
  }

  p {
    font-size: x-large;
    text-align: center;
  }
}

h2 {
  margin-top: 50px;
  font-size: xx-large;
  text-align: center;
}
